CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.json
*.out
H1/6/1
H5/6/1
*.o
*.o
H2/external-sort/test_io_speed/res.txt
H2/external-sort/test_input.txt
H2/external-sort/test_input_sovle.txt
H2/external-sort/output.txt
H2/external-sort/input.txt
H2/external-sort/output.txt
H3/H3.2-min-distance/build
H2/external-sort/test_readline_speed/input.txt
H3/H3.2-min-distance/.*r
*.log
H3/H3.4-xor-requests/res
H3/H3.4-xor-requests/test.txt
H3/H3.4-xor-requests/test_ref.txt
H3/H3.5-median/res
H3/H3.5-median/test_ref.txt
H3/H3.5-median/test.txt
H4/H4.4-xor-max/test.txt
H4/H4.4-xor-max/test_ref.txt
H4/H4.4-xor-max/res
